# Max % (0-99) Byte Usage (if higher than this value, a notification is sent)
LIMIT=80

# Mode Configuration
# MODE = A (ALL)
# MODE = O (OWNER)
# MODE = L (LIST)
MODE = O

# Owner Configuration (Only for MODE O)
OWNER=ffabian

# List Configuration (Only for MODE L) MAX ITEMS = 100
LIST BEGIN
0xfafc279d
LIST END

# Compiled with SIX LOG